:root {
  --white: #fff;
  --black: #333;
  --grey: #999;
  --light-grey: rgb(219, 219, 219);
  --primary-color: rgb(69, 134, 231);
  --error-color: rgb(233, 49, 73);
  font-size: 16px;
}

.container {
  max-width: 400px;
  margin: 2rem auto;
}

div.form-field {
  display: block;
  margin-bottom: 16px;
}

div.form-field.is-focused .control::after {
  border-bottom: 2px solid var(--primary-color);
  transform: scaleX(150);
}

div.form-field.is-focused .control label {
  color: var(--primary-color);
  font-size: 0.75rem;
  transform: translateY(-14px);
}

div.form-field.has-value .control label {
  font-size: 0.75rem;
  transform: translateY(-14px);
}

div.form-field .control {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

div.form-field .control::after {
  border-bottom: 2px solid var(--primary-color);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all 400ms;
  width: 1%;
}

div.form-field .control input {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--grey);
  color: var(--black);
  display: block;
  font-size: 1.2rem;
  margin-top: 24px;
  outline: 0;
  padding: 0 12px 10px 12px;
  width: 100%;
}

div.form-field .control label {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 18px 12px 0;
  position: absolute;
  top: 0;
  transition: all 400ms;
  width: 100%;
}

div.form-field .has-error {
  color: var(--error-color);
  text-align: right;
  margin: 0.5rem;
}

.btn {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 3px;
}

.btn:disabled {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  background-color: var(--light-grey) !important;
  color: var(--grey) !important;
}

.btn.primary {
  background-color: var(--primary-color);
  color: var(--white);
}
